.asdf {
  display: flex;
  flex-direction: row;
  background-color: rgb(226, 238, 183);
}

.logOutButton {
  position: fixed;
}

.hello {
  display: flex;
}

.chatButton {
  flex: 1;
  padding: 1rem;
  object-fit: cover;
}

.forumButton {
  flex: 1;
  padding: 1rem;
  object-fit: cover;
}
img {
  max-width: 100%;
  height: auto;
}
